{%extends "blog/base.html"%}

{%block content%}
    <div class="category-wrap text-center">
      <i class="fa-solid fa-list-check"></i>
      <h3 class="d-inline-block text-uppercase mb-0 ml-1">{{category.name}} </h3>
    </div>
    {% for sub in subcategories %}
      <h4>
        <a class="ml-2 article-title text-primary d-inline-block" href="{%url 'subcategory-detail' sub.id%}">
          <i class="fa-solid fa-arrow-right-long"></i>
          {{ sub.name }}
        </a>
      </h4>
        {% for post in posts %}
            {%if post.sub_category.id == sub.id%}
            <article class="mb-2">
              
                <div class="p-2 border rounded article-item-content d-flex row">
                  <a href="{%url 'post-detail' post.id%}" class="article-item-img col-3">
                    <img src="{{ post.image.url }}">
                  </a>
                  <div class="col-9">
                    <div class="text-primary">
                      <i class="fa-solid fa-play"></i>
                      <small class="d-inline-block font-italic">{{ post.sub_category.name }}</small>
                    </div>
                    <h6><a class="article-item-name" href="{%url 'post-detail' post.id%}">{{ post.title }}</a></h6>
                    <small class="text-muted">Written by: <span class="font-italic">{{ post.author }}</span></small>
                    <small class="text-muted d-block">{{ post.date_posted|date:"F d, Y" }}</small>
                  </div>
                </div>
              
            </article>
            {%endif%}
        {%endfor%}
    {%endfor%}
{%endblock content%}
