
<div>
    <div class="bg-primary content-title py-2 px-3 mb-4 text-center">
        <i class="fa-solid fa-heart-circle-check text-light"></i>
        <p class="d-inline-block mb-0 text-light">ĐÃ YÊU THÍCH</p>
    </div>
    <div class="content-inner row popular_section">
        {% for post in posts %}
        <article class="col-12">
            <a href="{%url 'post-detail' post.id%}" class="article-item-img">
                <img src="{{ post.image.url }}">
            </a>
            <div class="article-item-content">
                <a href="{%url 'post-detail' post.id%}" class="article-item-name">{{ post.title }}</a>
                <small class="text-muted d-block">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
             
        </article>
        {%endfor%}
    </div>
</div>